<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>facebookslideshow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AbstractFacebookServlet</display-name>
    <servlet-name>AbstractFacebookServlet</servlet-name>
    <servlet-class>org.myfacebookapp.AbstractFacebookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractFacebookServlet</servlet-name>
    <url-pattern>/AbstractFacebookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPageServlet</display-name>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>org.myfacebookapp.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/MainPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsServlet</display-name>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>org.myfacebookapp.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/FriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumServlet</display-name>
    <servlet-name>AlbumServlet</servlet-name>
    <servlet-class>org.myfacebookapp.AlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumServlet</servlet-name>
    <url-pattern>/AlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PictureServlet</display-name>
    <servlet-name>PictureServlet</servlet-name>
    <servlet-class>org.myfacebookapp.PictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureServlet</servlet-name>
    <url-pattern>/PictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendServlet</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>org.myfacebookapp.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
  </servlet-mapping>
</web-app>